.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left:0;
  right: 0;
  background-color: white;
  height: 55px;

  z-index: 100;/* to correct the position relative and position absolute */

  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: rgb(229, 219, 219);
}
.left-sec{
  display: flex;
  align-items: center;
}
.menu{
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
  cursor: pointer;

}
.middle-sec{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px ;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search{

  height: 35px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 219, 219);
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);/* inset is for inside(shadow inside) */
  border-radius: 3px;
  width: 0;

}

.search::placeholder{
  font-family: roboto,arial;
  font-size: 16px;
}

.search-button{
  height: 39px;
  width:60px ;
  background-color: rgb(242, 241, 241);
  border-radius: 3px;
  border-color: rgb(208, 205, 205);
  border-width: 1px;
  margin-left: -1px;
  margin-right: 10px;
  border-style: solid;
  cursor: pointer;

}
.search-button .tooltip,
.voice-search .tooltip,
.create .tooltip,
.apps .tooltip,
.notifications .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  font-family: roboto,arial;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  bottom: -30px;
  font-size: 12px;
  opacity: 0;
  transition:opacity 0.15s ;
  pointer-events: none;/*so that the pointer will not wor on tooltip*/
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.create:hover .tooltip,
.apps:hover .tooltip,
.notifications:hover .tooltip{
  opacity: 1;
}
.search-button:active{
  background-color:rgb(228, 226, 226) ;
}
.search-img{
  height: 25px;
  padding-top: 4px; 
}
.search-button,
.voice-search,
.create,
.apps,
.notifications{
  position: relative;
  display: flex;
  justify-content: center;
}

.voice-search{
  height: 38px;
  width:40px ;
  border-radius: 20px;
  border: none;
  background-color: rgb(242, 241, 241);
  cursor: pointer;
}


.voice-img{
  height: 25px;
  padding-top: 5px;
}
.right-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-right: 20px; 
  flex-shrink: 0;
  

}
.uplode{
  height: 25px;
  cursor: pointer;
  
}
.youtube-apps{
  height: 25px;
  cursor: pointer;
  
}
.notification{
  height: 25px;
  cursor: pointer;
  padding-top: 2px;
  
}
.noti-count-box{
  position: relative;
}
.noti-count{
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: rgb(204, 11, 11);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-size: 9px;
  font-family: roboto,arial;
   
}
.my_profile{
  height: 34px;
  cursor: pointer; 
}
